{{$prefix := .Prefix}}
{{$indexName := .IndexName}}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <script src="/js/fields.js"> </script>
  <script>
    $(document).ready(() => {
      let fields = new FieldManager("{{.Key}}");
      $('#clear-field-history-btn').click(() => {
        fields.clear();
      });
      let fs = fields.allFields();
      for (let name in fs) {
        let val = fs[name];
        console.log('setting ' + name + ' -> ' + val);
        $('#validationCustom' + name).val(val);
      }
      $('#submit').click(() => {
        $('.persist-check').each((i, el) => {
          if (!el.checked) return;
          let input = $('#' + $(el).attr('data-input-id'));
          let val = input.val();
          let name = $(el).attr('data-input-name');
          fields.store(name, val);
        });
        return true;
      });
    });
  </script>
  <style>
    .default-value {
      color: #00008B;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <h1>{{.Title}}</h1>
    <h2>{{.Route}}</h2>
    <form class="row g-1 needs-validation" action="{{.Route}}" method="GET">
      {{- if .HasRenderer }}
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="renderResultCheck" name="{{.RenderURLParam}}">
        <label class="form-check-label" for="renderResultCheck">Render result</label>
      </div>
      {{- end }}
      {{- range $i, $f := .Forms}}
      {{- if eq $f.Type "string"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>string</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <input type="text" name="{{$f.Name}}" class="form-control" id="validationCustom{{$f.Name}}" value=""
          {{if $f.Required}}required{{end}}>
      </div>
      {{- end}}
      {{- if eq $f.Type "duration"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>time.Duration</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <input type="text" name="{{$f.Name}}" class="form-control" id="validationCustom{{$f.Name}}" value=""
          {{if $f.Required}}required{{end}}>
      </div>
      {{- end}}
      {{- if eq $f.Type "time"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>time.Time</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <input type="text" name="{{$f.Name}}" class="form-control" id="validationCustom{{$f.Name}}" value=""
          {{if $f.Required}}required{{end}}>
      </div>
      {{- end}}
      {{- if eq $f.Type "int"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>int</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <input type="number" name="{{$f.Name}}" class="form-control" id="validationCustom{{$f.Name}}" value=""
          {{if $f.Required}}required{{end}}>
      </div>
      {{- end}}
      {{- if eq $f.Type "float32"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>float32</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <input type="number" name="{{$f.Name}}" class="form-control" id="validationCustom{{$f.Name}}" value=""
          {{if $f.Required}}required{{end}}>
      </div>
      {{- end}}
      {{- if eq $f.Type "float64"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>float64</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <input type="number" name="{{$f.Name}}" class="form-control" id="validationCustom{{$f.Name}}" value=""
          {{if $f.Required}}required{{end}}>
      </div>
      {{- end}}
      {{- if eq $f.Type "bool"}}
      <div>
        <label for="validationCustom{{$f.Name}}" class="form-label">{{$f.Name}} <code>bool</code>
          {{if $f.Required}} (required){{end}}
          {{if $f.Default}} [ default = <code class="default-value">{{$f.Default}}</code> ]{{end}}
        </label>
        <input class="form-check-input persist-check" type="checkbox" value="" id="persist{{$f.Name}}"
          data-input-id="validationCustom{{$f.Name}}" data-input-name="{{$f.Name}}">
        <label class="form-check-label" for="persist{{$f.Name}}">Persist</label>
        <select name="{{$f.Name}}" class="form-select" id="validationCustom{{$f.Name}}">
          <option selected disabled value="">Choose...</option>
          <option></option>
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid {{$f.Name}}.
        </div>
      </div>
      {{- end}}
      {{- end}}
      <br />
      <div class="col-12">
        <button class="btn btn-primary" type="submit" id="submit">Submit</button>
      </div>
    </form>
    {{- if ne .SourceURI ""}}
    <br />
    <a target="_" href="//{{.SourceURI}}">Source</a>
    {{- end}}
    <br />
    <a href="/{{$prefix}}/{{$indexName}}">Home</a>
    <br /><br />
    <button class="btn btn-danger" type="submit" id="clear-field-history-btn">Clear field history</button>
  </div>
</body>

</html>